@tailwind base;
@tailwind components;

@tailwind utilities;

:root,
[data-theme] {
	background-color: inherit;
	color: inherit;
}

.path {
	font-size: xx-small;
	margin-left: 25px;
}

.plug-tg-packageManager {
	@apply plug-tg-w-[800px];
}

/* .model {
	width: auto;
} */

.plug-tg-update {
	background-color: var(--background-modifier-success) !important;
}

/* --- Loading spinner --- */

#plug-tg-loading {
	display: inline-block;
	overflow: hidden;
	height: 1.3em;
	margin-top: -0.3em;
	line-height: 1.5em;
	vertical-align: text-bottom;
}

#plug-tg-loading::after {
	content: "⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏";
	display: inline-table;
	text-align: left;
	animation: spin10 1s steps(10) infinite;
}

@keyframes spin10 {
	to {
		transform: translateY(-15em);
	}
}

/* ---  --- */


.block-language-tg {
	padding: 10px;
}

.cm-embed-block:hover>.tgmenu {
	opacity: 1;
}

.tgmenu {
	opacity: 0;
	display: flex;
	gap: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
}

.callout[data-callout="ai"] {
	--callout-icon: bot;
}

.callout[data-callout="ai"]>.callout-title {
	margin-left: -1rem;
}

.callout[data-callout="ai"]>.callout-content {
	margin-left: 2rem;
}

.summary {
	padding: 10px;
	font-family: Arial;
	display: flex;
	flex-direction: column;
	background-color: var(--background-primary);
}

.summary table {
	width: 100%;
}

.summary td {
	color: var(--text-normal);
}

.summary .price {
	background-color: var(--text-highlight-bg);
	color: var(--text-normal);
	font-size: 18px;
}

/* ---- other ---- */

.small {
	@apply plug-tg-text-sm;
}


.gapper {
	@apply plug-tg-flex plug-tg-flex-col plug-tg-gap-4;
}

.tags {
	@apply plug-tg-flex plug-tg-items-center plug-tg-gap-4;
}

.tag {
	@apply plug-tg-border-l plug-tg-border-white;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
	background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* 
html {
	background: #202123;
} */

@media (max-width: 720px) {
	pre {
		width: calc(100vw - 110px);
	}
}

pre:has(div.codeblock) {
	padding: 0;
}

/* fallback, until https://github.com/CompuIves/codesandbox-client/issues/174 is resolved */
/* @font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

.mdl-demo .dropdown-trigger>span:after {
	font-size: 12px;
	color: #555;
}

.mdl-demo .toggle {
	font: normal normal normal 18px/1 "Material Icons";
	color: #555;
	white-space: pre;
	margin-right: 4px;
}

.mdl-demo .toggle.collapsed::after {
	cursor: pointer;
	content: "\E5CF";
	vertical-align: middle;
}

.mdl-demo .toggle.expanded::after {
	cursor: pointer;
	content: "\E5CE";
	vertical-align: middle;
} */
/* 
h1 {
	@apply plug-tg-pb-2;
}

.below-the-fold {
	content-visibility: auto;
	contain-intrinsic-size: 1000px;
}

.block-language-tg {
	@apply plug-tg-p-2;
} */

/* -------------------- React json input css ---------------------------- */
.mantine-1fzet7j {
	@apply plug-tg-text-black dark:plug-tg-text-white;
}

.mantine-hgcj3k {
	@apply plug-tg-text-black dark:plug-tg-text-white plug-tg-bg-[var(--background-modifier-form-field)];
}

/* -------------------- React confirm css ---------------------------- */

body.react-confirm-alert-body-element {
	overflow: hidden;
}

.react-confirm-alert-blur {
	filter: url(#gaussian-blur);
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0, 0, 0, 0.7);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	opacity: 0;
	-webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	-moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	-o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
	font-family: Arial, Helvetica, sans-serif;
	width: 400px;
	padding: 30px;
	text-align: left;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
	color: #666;
}

.react-confirm-alert-svg {
	position: absolute;
	top: 0;
	left: 0;
}

.react-confirm-alert-body>h1 {
	margin-top: 0;
}

.react-confirm-alert-body>h3 {
	margin: 0;
	font-size: 16px;
}

.react-confirm-alert-button-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

.react-confirm-alert-button-group>button {
	outline: none;
	background: #333;
	border: none;
	display: inline-block;
	padding: 6px 18px;
	color: #eee;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-o-keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}